<div class="row justify-content-center align-items-center g-2">
  <div class="col-md-4">
    <mat-card class="p-4">
      <div class="d-flex">
        <img
          class="icon me-3"
          src="https://cdn-icons-png.flaticon.com/512/2312/2312681.png"
          alt="stock"
        />
        <div class="d-flex flex-column">
          <div class="m-0 h6">Stock</div>
          <div class="m-0 h6 mt-2">10</div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="p-4">
      <div class="d-flex">
        <img
          class="icon me-3"
          src="https://cdn-icons-png.flaticon.com/512/6040/6040975.png"
          alt="stock"
        />
        <div class="d-flex flex-column">
          <div class="m-0 h6">Defect</div>
          <div class="m-0 h6 mt-2">2</div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="p-4">
      <div class="d-flex">
        <img
          class="icon me-3"
          src="https://cdn-icons-png.flaticon.com/512/4961/4961689.png"
          alt="stock"
        />
        <div class="d-flex flex-column">
          <div class="m-0 h6">Out of Stock</div>
          <div class="m-0 h6 mt-2">4</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="table-responsive mat-elevation-z2 w-100 mt-3">
  <div
    class="d-flex justify-content-between align-items-center p-3 search-form"
  >
    <mat-form-field appearance="outline" class="my-3">
      <mat-label>Search product</mat-label>
      <input
        [(ngModel)]="textSearch"
        (keyup)="search($event)"
        matInput
        placeholder="name, price, stock"
      />
      <mat-icon matSuffix *ngIf="!textSearch">search</mat-icon>
      <button
        (click)="clearSearch()"
        mat-icon-button
        matSuffix
        *ngIf="textSearch"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button mat-flat-button color="primary" [routerLink]="['/stock/create']">
      <mat-icon>add</mat-icon> New Product
    </button>
  </div>
  <table
    matSort
    mat-table
    [dataSource]="dataSource"
    class="table table-striped table-hover"
  >
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
        <div
          class="overlay max-auto d-block border-top border-left -border-right rounded-top"
        >
          <img
            [src]="element.image"
            [alt]="element.image"
            class="w-100 rounded-top"
          />
          <div class="overlay-text text-center mat-small">{{ element.id }}</div>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Name</th>
      <td mat-cell *matCellDef="let element" class="text-truncate">
        {{ element.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="price">Price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price | number : "1.1-2" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="stock">Stock</th>
      <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="text-center">Action</th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button mat-icon-button [routerLink]="['/stock/edit', element.id]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onClickDeleteProduct(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="dataSource.data.length"
    [pageSizeOptions]="[10, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
