<img
  class="img-fluid bg-primary shadow-sm"
  src="https://media.istockphoto.com/id/1361394182/photo/funny-british-shorthair-cat-portrait-looking-shocked-or-surprised.jpg?b=1&s=612x612&w=0&k=20&c=-niqIUX8Kfiyn50xgUzxxUYX6H2q9BlGc3PX5PVM-iA="
  alt="just cat"
/>

<mat-nav-list>
  <!-- @for (link of list; track link) {
  <a mat-list-item href="..." [activated]="link.isActive">{{ link }}</a>
  } -->
  <a mat-list-item href="...">
    <span mat-line class="mat-h4">Stock</span>
    <img
      matListItemAvatar
      src="https://cdn-icons-png.flaticon.com/512/2979/2979677.png"
    />
  </a>
  <a mat-list-item href="...">
    <span mat-line class="mat-h4">Shop</span>
    <img
      matListItemAvatar
      src="https://cdn-icons-png.flaticon.com/512/869/869432.png"
    />
  </a>
  <mat-divider class="my-4"> </mat-divider>
  <span matSubheader> Dashboard </span>
  <a mat-list-item href="...">
    <span mat-line class="mat-h4">Customer</span>
    <img
      matListItemAvatar
      src="https://cdn-icons-png.flaticon.com/512/3126/3126589.png"
    />
  </a>
  <a mat-list-item href="...">
    <span mat-line class="mat-h4">Summary</span>
    <img
      matListItemAvatar
      src="https://cdn-icons-png.flaticon.com/512/684/684930.png"
    />
  </a>
</mat-nav-list>
